<a href="https://colab.research.google.com/github/prinn10/autoNarajangteo/blob/main/%EB%82%98%EB%9D%BC%EC%9E%A5%ED%84%B0_v001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount and Import Module

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os

path='/content/drive/MyDrive/'
name='dataset_result.csv'

In [3]:
import torch
import torch.nn as nn

import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

import seaborn as sns
import warnings
import matplotlib as mpl

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Call Dataset and Preprocessing

In [4]:
#df=pd.read_csv(path+name, encoding='euc-kr')
df=pd.read_csv(path+name, encoding='utf-8-sig')

print(df)

df_shuffled=df.sample(frac=1).reset_index(drop=True)
print(df_shuffled[:-200])
print(df_shuffled[-200:])

              입찰공고번호         기초금액         예정가격  참여업체수   낙찰하한율  기초금액기준상위개수  \
0     20171238310-00  345180000.0  343965000.0     18  87.995           7
1     20171235590-00   81125000.0   80944150.0      2  88.000           8
2     20171238233-00  368420000.0  369927825.0      5  80.495           8
3     20171238707-00   78898000.0   79020750.0     23  87.995           7
4     20171235088-00   56800000.0   56403700.0      2  87.995           7
...              ...          ...          ...    ...     ...         ...
1242  20220501644-00   39600000.0   39698650.0     73  88.000           7
1243  20220501656-00     100000.0     100025.0      4  88.000           7
1244  20220501669-00  103915823.0  102746550.0   5280  84.245           8
1245  20220501787-00   15378000.0   15466400.0     71  88.000           8
1246  20220501806-00   12041280.0   11877175.0     46  84.245           7

             투찰금액     투찰률  예가범위1  예가범위2  target rate
0     303194407.0  88.146      3      3      88.0705
1      80500000.0  99.451      2      2      93.7255
2     331578000.0  89.633      2      2      85.0640
3      69584000.0  88.057      3      3      88.0260
4      49985000.0  88.620      3      3      88.3075
...           ...     ...    ...    ...          ...
1242   34942000.0  88.018      2      2      88.0090
1243      88359.0  88.336      3      3      88.1680
1244   86570484.0  84.256      2      2      84.2505
1245   13611200.0  88.004      2      2      88.0020
1246   10017340.0  84.341      3      3      84.2930

[1247 rows x 11 columns]
              입찰공고번호         기초금액          예정가격  참여업체수   낙찰하한율  기초금액기준상위개수  \
0     20220509481-00   32500000.0  3.270235e+07     20  88.000           7
1     20211231963-02     342100.0  3.461488e+05     27  84.245           7
2     20220514626-00  559028000.0  5.559855e+08    305  80.495           7
3     20220443074-00  339500000.0  3.408589e+08      8  80.495           8
4     20220514596-00  123779400.0  1.233561e+08     17  84.245           7
...              ...          ...           ...    ...     ...         ...
1042  20220434088-00   56100000.0  5.615362e+07    137  87.995           7
1043  20220505058-00  606377000.0  5.985927e+08     27  88.000           7
1044  20220512094-00  150000000.0  1.500592e+08      6  88.000           7
1045  20220502608-00  145474000.0  1.460992e+08      6  84.245           8
1046  20220446169-00  210490000.0  2.097144e+08      2  84.245           7

             투찰금액     투찰률  예가범위1  예가범위2  target rate
0      28860000.0  88.250      3      3      88.1250
1        305100.0  88.141      3      3      86.1930
2     447593995.0  80.504      3      3      80.4995
3     274603477.0  80.562      2      2      80.5285
4     103928967.0  84.251      2      2      84.2480
...           ...     ...    ...    ...          ...
1042   49415350.0  88.000      3      3      87.9975
1043  529912860.0  88.526      3      3      88.2630
1044  131985900.0  87.955      3      3      87.9775
1045  128700000.0  88.090      2      2      86.1675
1046  208385100.0  99.366      2      2      91.8055

[1047 rows x 11 columns]
              입찰공고번호         기초금액          예정가격  참여업체수   낙찰하한율  기초금액기준상위개수  \
1047  20220500838-00   51270313.0  5.101348e+07   5078  84.245           8
1048  20220500963-00  586200000.0  5.922408e+08      2  85.000           7
1049  20220510645-00  141175000.0  1.419173e+08     59  87.995           7
1050  20220511990-00  139997000.0  1.390836e+08     11  87.995           7
1051  20211230304-00  495000000.0  4.973810e+08     72  87.945           7
...              ...          ...           ...    ...     ...         ...
1242  20220442310-00  113210000.0  1.126562e+08     35  84.245           8
1243  20220508642-00   39197000.0  3.925645e+07     12  88.000           7
1244  20220435996-00  496790094.0  4.974868e+08      4  80.495           7
1245  20220518030-00    2041600.0  2.053075e+06     18  88.000           7
1246  20220509940-00   70180000.0  6.995635e+07      6  88.000           7

             투찰금액     투찰률  예가범위1  예가범위2  target rate
1047   42976610.0  84.245      2      2      84.2450
1048  568000000.0  95.906      3      3      90.4530
1049  124814230.0  87.948      3      3      87.9715
1050  123084100.0  88.496      3      3      88.2455
1051  437704200.0  88.001      2      2      87.9730
...           ...     ...    ...    ...          ...
1242   94917460.0  84.254      2      2      84.2495
1243   34615650.0  88.178      2      2      88.0890
1244  400950000.0  80.595      3      3      80.5450
1245    1815000.0  88.403      2      2      88.2015
1246   61616000.0  88.077      3      3      88.0385

[200 rows x 11 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler
def preprocess(df):
  PC_df = df[['예정가격']]
  q1_df = df[['예가범위1']].astype('float32')
  q2_df = df[['예가범위2']].astype('float32')
  bidlimit_df = df[['낙찰하한율']]

  print(df[['기초금액']].shape, PC_df.shape, q1_df.shape, q2_df.shape, bidlimit_df.shape)

  BC = df.loc[:, ['기초금액']].to_numpy()
  PC = df.loc[:, ['예정가격']].to_numpy()
  q1 = df.loc[:, ['예가범위1']].astype('float32').to_numpy()
  q2 = df.loc[:, ['예가범위2']].astype('float32').to_numpy()
  bidlimit = df.loc[:, ['낙찰하한율']].to_numpy()

  print(len(BC), len(PC), len(q1), len(q2), len(bidlimit))

  for i in range(len(BC)):
      pb = PC[i] / BC[i]
      totrange = q1[i]+q2[i]
      ratio = (100*pb-100+q1[i]) / totrange
      PC[i] = ratio
      q1[i] /= 100.0
      q2[i] /= 100.0
      bidlimit[i] /= 100.0

  PC_df = pd.DataFrame(PC, columns=['예정가격'])
  q1_df = pd.DataFrame(q1, columns=['예가범위1'])
  q2_df = pd.DataFrame(q2, columns=['예가범위2'])
  bidlimit_df = pd.DataFrame(bidlimit, columns=['낙찰하한율'])
    
  scaler = MinMaxScaler()
  scale_cols = ['기초금액', '기초금액기준상위개수', '투찰률'] #정규화 대상 column 정의
  scaled_df = scaler.fit_transform(df[scale_cols]) #정규화 수행
  print(type(scaled_df), '\n') #리턴 값은 넘파이
  scaled_df = pd.DataFrame(scaled_df, columns=scale_cols)
  notminmaxdf = pd.concat([pd.concat([PC_df, bidlimit_df], axis=1), pd.concat([q1_df, q2_df], axis=1)], axis=1)
  Final_df = pd.concat([scaled_df, notminmaxdf], axis=1)
  feature_cols = ['기초금액', '낙찰하한율', '기초금액기준상위개수', '예가범위1', '예가범위2']
  label_cols = ['예정가격']
  feature_df = pd.DataFrame(Final_df, columns=feature_cols)
  label_df = pd.DataFrame(Final_df, columns=label_cols)
  x, y = torch.from_numpy(feature_df.to_numpy()), torch.from_numpy(label_df.to_numpy())
  ds_test=TensorDataset(x, y)
  return ds_test

In [6]:
df=pd.read_csv(path+name, encoding='utf-8-sig')
df.head()
del df['target rate']

In [7]:
col_name = list(df.keys())

In [8]:
for tmp in col_name:
    #print(df.loc[df[tmp].isnull()])
    drop_idx = df.loc[df[tmp].isnull()].index
    df= df.drop(drop_idx)

In [9]:
for tmp in col_name:
    df.loc[df[tmp].isnull()]

In [10]:
#예정가격, 낙찰하한율, 예가범위 전처리
PC_df = df[['예정가격']]
q1_df = df[['예가범위1']].astype('float32')
q2_df = df[['예가범위2']].astype('float32')
bidlimit_df = df[['낙찰하한율']]

print(df[['기초금액']].shape, PC_df.shape, q1_df.shape, q2_df.shape, bidlimit_df.shape)

BC = df.loc[:, ['기초금액']].to_numpy()
PC = df.loc[:, ['예정가격']].to_numpy()
q1 = df.loc[:, ['예가범위1']].astype('float32').to_numpy()
q2 = df.loc[:, ['예가범위2']].astype('float32').to_numpy()
bidlimit = df.loc[:, ['낙찰하한율']].to_numpy()

print(len(BC), len(PC), len(q1), len(q2), len(bidlimit))

for i in range(len(BC)):
    pb = PC[i] / BC[i]
    totrange = q1[i]+q2[i]
    ratio = (100*pb-100+q1[i]) / totrange
    PC[i] = ratio
    q1[i] /= 100.0
    q2[i] /= 100.0
    bidlimit[i] /= 100.0

# for i in range(len(BC)):
#     PC_df.loc[i] = PC[i]
#     q1_df.loc[i] = q1[i]
#     q2_df.loc[i] = q2[i]
#     bidlimit_df.loc[i] = bidlimit[i]

PC_df = pd.DataFrame(PC, columns=['예정가격'])
q1_df = pd.DataFrame(q1, columns=['예가범위1'])
q2_df = pd.DataFrame(q2, columns=['예가범위2'])
bidlimit_df = pd.DataFrame(bidlimit, columns=['낙찰하한율'])

print(PC_df.shape, q1_df.shape, q2_df.shape, bidlimit_df.shape)

(1247, 1) (1247, 1) (1247, 1) (1247, 1) (1247, 1)
1247 1247 1247 1247 1247
(1247, 1) (1247, 1) (1247, 1) (1247, 1)

In [11]:
# 정규화 (Date 제외한 모든 수치부분 정규화)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scale_cols = ['기초금액', '기초금액기준상위개수', '투찰률'] #정규화 대상 column 정의

scaled_df = scaler.fit_transform(df[scale_cols]) #정규화 수행
print(type(scaled_df), '\n') #리턴 값은 넘파이

scaled_df = pd.DataFrame(scaled_df, columns=scale_cols) #정규화된 새로운 DataFrame 생성

print(scaled_df)

<class 'numpy.ndarray'>

          기초금액  기초금액기준상위개수       투찰률
0     0.060043    0.272727  0.642622
1     0.014111    0.363636  0.984256
2     0.064085    0.363636  0.687559
3     0.013724    0.272727  0.639932
4     0.009880    0.272727  0.656946
...        ...         ...       ...
1242  0.006888    0.272727  0.638754
1243  0.000017    0.272727  0.648364
1244  0.018076    0.363636  0.525067
1245  0.002675    0.363636  0.638331
1246  0.002095    0.272727  0.527636

[1247 rows x 3 columns]

In [12]:

notminmaxdf = pd.concat([pd.concat([PC_df, bidlimit_df], axis=1), pd.concat([q1_df, q2_df], axis=1)], axis=1)
notminmaxdf.head()

       예정가격    낙찰하한율  예가범위1  예가범위2
0  0.441335  0.87995   0.03   0.03
1  0.444268  0.88000   0.02   0.02
2  0.602317  0.80495   0.02   0.02
3  0.525930  0.87995   0.03   0.03
4  0.383715  0.87995   0.03   0.03

In [13]:

Final_df = pd.concat([scaled_df, notminmaxdf], axis=1)
Final_df.head()

       기초금액  기초금액기준상위개수       투찰률      예정가격    낙찰하한율  예가범위1  예가범위2
0  0.060043    0.272727  0.642622  0.441335  0.87995   0.03   0.03
1  0.014111    0.363636  0.984256  0.444268  0.88000   0.02   0.02
2  0.064085    0.363636  0.687559  0.602317  0.80495   0.02   0.02
3  0.013724    0.272727  0.639932  0.525930  0.87995   0.03   0.03
4  0.009880    0.272727  0.656946  0.383715  0.87995   0.03   0.03

In [14]:
tmp='기초금액'
Final_df.loc[Final_df[tmp].isnull()]

Empty DataFrame
Columns: [기초금액, 기초금액기준상위개수, 투찰률, 예정가격, 낙찰하한율, 예가범위1, 예가범위2]
Index: []

# 회귀 분석 및 분산 분석

In [15]:
# feature_df, label_df 생성

feature_cols = ['기초금액', '낙찰하한율', '기초금액기준상위개수', '예가범위1', '예가범위2']
label_cols = ['예정가격']

feature_df = pd.DataFrame(Final_df, columns=feature_cols)
label_df = pd.DataFrame(Final_df, columns=label_cols)

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_df, label_df, train_size=0.8, test_size=0.2)
x_train.head()

              기초금액    낙찰하한율  기초금액기준상위개수  예가범위1  예가범위2
88    3.359807e-02  0.84245    0.272727   0.03   0.03
147   2.539147e-07  0.84245    0.272727   0.03   0.03
180   6.195503e-03  0.88000    0.272727   0.02   0.02
477   1.033241e-02  0.88000    0.272727   0.03   0.03
1023  5.992451e-02  0.80495    0.363636   0.02   0.02

In [17]:
model = sm.OLS(y_train, sm.add_constant(x_train))
results = model.fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [18]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   예정가격   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     2.226
Date:                Fri, 27 May 2022   Prob (F-statistic):             0.0497
Time:                        03:06:45   Log-Likelihood:                 639.37
No. Observations:                 997   AIC:                            -1267.
Df Residuals:                     991   BIC:                            -1237.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8821      0.149      5.909      0.000       0.589       1.175
기초금액          -0.0440      0.073     -0.606      0.545      -0.187       0.099
낙찰하한율         -0.4263      0.160     -2.662      0.008      -0.741      -0.112
기초금액기준상위개수     0.0233      0.140      0.166      0.868      -0.252       0.298
예가범위1          2.1513      9.736      0.221      0.825     -16.955      21.257
예가범위2         -3.3585      9.412     -0.357      0.721     -21.828      15.111
==============================================================================
Omnibus:                        4.991   Durbin-Watson:                   2.064
Prob(Omnibus):                  0.082   Jarque-Bera (JB):                3.875
Skew:                           0.000   Prob(JB):                        0.144
Kurtosis:                       2.695   Cond. No.                     4.53e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.53e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [19]:
formula = '예정가격~기초금액+낙찰하한율+기초금액기준상위개수+예가범위1+예가범위2'
df_anova = pd.concat([x_train, y_train], axis=1)
model_anova = sm.OLS.from_formula(formula, data=df_anova)

results_anova = model_anova.fit()
sm.stats.anova_lm(results_anova, typ=2)

               sum_sq     df         F    PR(>F)
기초금액         0.005991    1.0  0.366755  0.544917
낙찰하한율        0.115724    1.0  7.084252  0.007902
기초금액기준상위개수   0.000450    1.0  0.027555  0.868194
예가범위1        0.000798    1.0  0.048822  0.825171
예가범위2        0.002080    1.0  0.127331  0.721292
Residual    16.188332  991.0       NaN       NaN

# RandomForest

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

#x_train, x_test, y_train, y_test = train_test_split(X_st, Y_st, train_size=0.8, test_size=0.2)

param_grid={
    'n_estimators':(50, 100, 150),
    'min_samples_leaf' : (2, 8, 18),
    'min_samples_split' : (1, 8, 16)
}
regressor = RandomForestRegressor()
grid_search=GridSearchCV(regressor, param_grid, cv=5, n_jobs=-1)
grid_search.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
45 fits failed out of a total of 135.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
45 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 467, in fit
    for i, t in enumerate(trees)
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/usr/local/lib/python3.7/dist-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/usr/local/lib/python3.7/dist-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 263, in __call__
    for func, args, kwargs in self.items]
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 263, in <listcomp>
    for func, args, kwargs in self.items]
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 254, in fit
    % self.min_samples_split
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan -0.16851877 -0.16213311 -0.16273768
 -0.10225012 -0.10808252 -0.10848194         nan         nan         nan
 -0.08199342 -0.07779821 -0.07695882 -0.08337956 -0.07324723 -0.07889284
         nan         nan         nan -0.03287157 -0.03641348 -0.03434689
 -0.04117483 -0.03633616 -0.03765113]
  category=UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'min_samples_leaf': (2, 8, 18),
                         'min_samples_split': (1, 8, 16),
                         'n_estimators': (50, 100, 150)})

In [22]:
print('최적 하이퍼 파라미터:', grid_search.best_params_)
print('최적 예측 정확도: {0:.4f}'.format(grid_search.best_score_))

최적 하이퍼 파라미터: {'min_samples_leaf': 18, 'min_samples_split': 8, 'n_estimators': 50}
최적 예측 정확도: -0.0329

In [23]:
regressor = RandomForestRegressor(n_estimators = 50, min_samples_leaf = 8, min_samples_split = 8)
regressor.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(min_samples_leaf=8, min_samples_split=8, n_estimators=50)

In [24]:
# train rmse
train_predict = regressor.predict(x_train)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict, y_train))) )

RMSE':0.11556083675541062

In [25]:
test_predict = regressor.predict(x_test)
print("RMSE':{}".format(math.sqrt(mean_squared_error(test_predict, y_test))) )

for i in range(len(test_predict)):
    print(test_predict[i], y_test.iloc[i])

RMSE':0.1390281249777913
0.5082749226550137 예정가격    0.378
Name: 368, dtype: float64
0.5214509865392928 예정가격    0.485813
Name: 1123, dtype: float64
0.5079548776968961 예정가격    0.6075
Name: 263, dtype: float64
0.49839632961134905 예정가격    0.472
Name: 198, dtype: float64
0.4751524512265868 예정가격    0.501007
Name: 1004, dtype: float64
0.4258995261883428 예정가격    0.26617
Name: 854, dtype: float64
0.41003722078364474 예정가격    0.725391
Name: 882, dtype: float64
0.4478761190845183 예정가격    0.450232
Name: 474, dtype: float64
0.5082749226550137 예정가격    0.273583
Name: 1215, dtype: float64
0.4814659191552703 예정가격    0.546535
Name: 460, dtype: float64
0.4769131020669209 예정가격    0.494061
Name: 525, dtype: float64
0.47599955269743965 예정가격    0.282073
Name: 1009, dtype: float64
0.4844324412494515 예정가격    0.552838
Name: 934, dtype: float64
0.5026068432035783 예정가격    0.613084
Name: 784, dtype: float64
0.5362597556524039 예정가격    0.297012
Name: 756, dtype: float64
0.5304791455656716 예정가격    0.25681
Name: 520, dtype: float64
0.45589640949125104 예정가격    0.566063
Name: 816, dtype: float64
0.49770163276418056 예정가격    0.469552
Name: 527, dtype: float64
0.41609535574651824 예정가격    0.498635
Name: 733, dtype: float64
0.5375824331865104 예정가격    0.382636
Name: 345, dtype: float64
0.4933260901426115 예정가격    0.547348
Name: 182, dtype: float64
0.48161354703606213 예정가격    0.592924
Name: 709, dtype: float64
0.47233470537642264 예정가격    0.612719
Name: 983, dtype: float64
0.49270518598668267 예정가격    0.582524
Name: 922, dtype: float64
0.49182516694682277 예정가격    0.726086
Name: 1102, dtype: float64
0.4528934674280102 예정가격    0.473667
Name: 1109, dtype: float64
0.5011570770599516 예정가격    0.495918
Name: 1227, dtype: float64
0.4434558999619631 예정가격    0.436254
Name: 221, dtype: float64
0.4637405611170719 예정가격    0.416127
Name: 103, dtype: float64
0.47981504570486044 예정가격    0.62692
Name: 1027, dtype: float64
0.411478835221669 예정가격    0.652898
Name: 78, dtype: float64
0.46953467599251353 예정가격    0.558877
Name: 567, dtype: float64
0.4864068362687424 예정가격    0.665972
Name: 1118, dtype: float64
0.44197801589408636 예정가격    0.437836
Name: 1179, dtype: float64
0.4705718575670403 예정가격    0.179167
Name: 919, dtype: float64
0.5375824331865104 예정가격    0.618905
Name: 480, dtype: float64
0.5328309972287975 예정가격    0.464888
Name: 381, dtype: float64
0.4654931534751826 예정가격    0.378788
Name: 25, dtype: float64
0.511749432936142 예정가격    0.581755
Name: 707, dtype: float64
0.4793693793210686 예정가격    0.578746
Name: 56, dtype: float64
0.4984302146567078 예정가격    0.381743
Name: 1130, dtype: float64
0.45284815191867983 예정가격    0.486841
Name: 68, dtype: float64
0.4660535598674869 예정가격    0.520853
Name: 594, dtype: float64
0.47909920663929945 예정가격    0.709455
Name: 384, dtype: float64
0.4793038057641391 예정가격    0.550004
Name: 145, dtype: float64
0.4892674986320482 예정가격    0.234669
Name: 1001, dtype: float64
0.4226047234397355 예정가격    0.335393
Name: 837, dtype: float64
0.44385447274318074 예정가격    0.342003
Name: 884, dtype: float64
0.47233470537642264 예정가격    0.397879
Name: 642, dtype: float64
0.4864068362687424 예정가격    0.478472
Name: 463, dtype: float64
0.4826274871129812 예정가격    0.585176
Name: 333, dtype: float64
0.4530087812403341 예정가격    0.408883
Name: 548, dtype: float64
0.4964474503450093 예정가격    0.635835
Name: 769, dtype: float64
0.5267184560820939 예정가격    0.284056
Name: 453, dtype: float64
0.5005698273057733 예정가격    0.457258
Name: 1217, dtype: float64
0.5180151308748082 예정가격    0.554741
Name: 961, dtype: float64
0.5714791730221975 예정가격    0.347952
Name: 692, dtype: float64
0.4864068362687424 예정가격    0.404167
Name: 278, dtype: float64
0.5425321671963603 예정가격    0.691458
Name: 887, dtype: float64
0.4589706618040206 예정가격    0.537585
Name: 1198, dtype: float64
0.5279128993832289 예정가격    0.492506
Name: 992, dtype: float64
0.4440777802653226 예정가격    0.732932
Name: 19, dtype: float64
0.4864068362687424 예정가격    0.498264
Name: 1048, dtype: float64
0.42038022377565804 예정가격    0.447301
Name: 1220, dtype: float64
0.4826674386316644 예정가격    0.301861
Name: 499, dtype: float64
0.5416266618713622 예정가격    0.34203
Name: 1237, dtype: float64
0.4085767074721393 예정가격    0.615521
Name: 1195, dtype: float64
0.45270133926117884 예정가격    0.480591
Name: 674, dtype: float64
0.4451124240262622 예정가격    0.423276
Name: 210, dtype: float64
0.4796576254596128 예정가격    0.376167
Name: 397, dtype: float64
0.4836301429989554 예정가격    0.551379
Name: 127, dtype: float64
0.47605308423843984 예정가격    0.474117
Name: 476, dtype: float64
0.4679652559699056 예정가격    0.79513
Name: 91, dtype: float64
0.4556901748428818 예정가격    0.437969
Name: 1225, dtype: float64
0.47890349738539983 예정가격    0.626886
Name: 851, dtype: float64
0.5113927519013007 예정가격    0.499437
Name: 1211, dtype: float64
0.46988562245626136 예정가격    0.489383
Name: 1183, dtype: float64
0.4720879132958835 예정가격    0.447424
Name: 298, dtype: float64
0.4620599484213939 예정가격    0.639259
Name: 991, dtype: float64
0.47233470537642264 예정가격    0.388889
Name: 1024, dtype: float64
0.49246772065213656 예정가격    0.526472
Name: 503, dtype: float64
0.4820601339880843 예정가격    0.620251
Name: 163, dtype: float64
0.4933260901426115 예정가격    0.239889
Name: 61, dtype: float64
0.5003246811723018 예정가격    0.450407
Name: 1013, dtype: float64
0.4527011049537391 예정가격    0.410671
Name: 1234, dtype: float64
0.4813038449805125 예정가격    0.459395
Name: 187, dtype: float64
0.492229278921837 예정가격    0.484031
Name: 421, dtype: float64
0.47233470537642264 예정가격    0.387847
Name: 718, dtype: float64
0.4864068362687424 예정가격    0.494792
Name: 879, dtype: float64
0.5009903083687169 예정가격    0.525753
Name: 990, dtype: float64
0.4645984796628349 예정가격    0.488542
Name: 613, dtype: float64
0.5017706203142499 예정가격    0.394502
Name: 766, dtype: float64
0.47851363793155166 예정가격    0.393227
Name: 556, dtype: float64
0.5238093551097021 예정가격    0.563164
Name: 989, dtype: float64
0.43107515560681753 예정가격    0.737689
Name: 115, dtype: float64
0.4281154145193349 예정가격    0.565542
Name: 1213, dtype: float64
0.4194758281656658 예정가격    0.556213
Name: 818, dtype: float64
0.49820129969800564 예정가격    0.294295
Name: 404, dtype: float64
0.5380703413432663 예정가격    0.637009
Name: 292, dtype: float64
0.4705718575670403 예정가격    0.504167
Name: 1243, dtype: float64
0.5329565154281568 예정가격    0.605519
Name: 924, dtype: float64
0.4009761373360739 예정가격    0.520383
Name: 610, dtype: float64
0.5216007649409495 예정가격    0.610841
Name: 890, dtype: float64
0.45254400113245924 예정가격    0.472282
Name: 424, dtype: float64
0.42403046625330104 예정가격    0.613176
Name: 745, dtype: float64
0.46563530128761577 예정가격    0.333375
Name: 1097, dtype: float64
0.48147012271355116 예정가격    0.385333
Name: 362, dtype: float64
0.4335388670013789 예정가격    0.537469
Name: 1162, dtype: float64
0.48122687609576853 예정가격    0.288708
Name: 1057, dtype: float64
0.4810968818415459 예정가격    0.485336
Name: 739, dtype: float64
0.4802784210402509 예정가격    0.37944
Name: 1152, dtype: float64
0.5259564599506208 예정가격    0.206929
Name: 1166, dtype: float64
0.47233470537642264 예정가격    0.536458
Name: 1050, dtype: float64
0.5338747647834421 예정가격    0.395948
Name: 396, dtype: float64
0.5237728713224532 예정가격    0.445016
Name: 704, dtype: float64
0.4821951927256611 예정가격    0.472222
Name: 270, dtype: float64
0.4793319664671112 예정가격    0.39312
Name: 795, dtype: float64
0.40980316294875185 예정가격    0.461133
Name: 889, dtype: float64
0.557171086873195 예정가격    0.583087
Name: 194, dtype: float64
0.468234000661919 예정가격    0.526668
Name: 874, dtype: float64
0.5072086055446493 예정가격    0.838315
Name: 276, dtype: float64
0.4829419208206927 예정가격    0.394438
Name: 1084, dtype: float64
0.4729694828825117 예정가격    0.442466
Name: 410, dtype: float64
0.4395304146543186 예정가격    0.180335
Name: 596, dtype: float64
0.4850674077995435 예정가격    0.355003
Name: 916, dtype: float64
0.4989518027800628 예정가격    0.531797
Name: 935, dtype: float64
0.44638871265195396 예정가격    0.161255
Name: 80, dtype: float64
0.4595121717042254 예정가격    0.493584
Name: 648, dtype: float64
0.4665576833758618 예정가격    0.65071
Name: 995, dtype: float64
0.4705718575670403 예정가격    0.420833
Name: 492, dtype: float64
0.48633531735558727 예정가격    0.552767
Name: 544, dtype: float64
0.50648856762605 예정가격    0.416713
Name: 929, dtype: float64
0.4490838544139346 예정가격    0.509501
Name: 824, dtype: float64
0.4503974625393192 예정가격    0.362963
Name: 684, dtype: float64
0.41837880758930573 예정가격    0.56544
Name: 575, dtype: float64
0.5120279153537284 예정가격    0.263076
Name: 902, dtype: float64
0.5530058629850579 예정가격    0.437227
Name: 730, dtype: float64
0.4776103609641645 예정가격    0.449667
Name: 562, dtype: float64
0.4972476243279696 예정가격    0.472566
Name: 801, dtype: float64
0.5056592729636593 예정가격    0.398721
Name: 177, dtype: float64
0.4821951927256611 예정가격    0.667918
Name: 189, dtype: float64
0.4715502428861984 예정가격    0.432941
Name: 587, dtype: float64
0.4418309797004039 예정가격    0.532542
Name: 1156, dtype: float64
0.4749656916790422 예정가격    0.320762
Name: 536, dtype: float64
0.48275622811827723 예정가격    0.588169
Name: 84, dtype: float64
0.5286018944797028 예정가격    0.209946
Name: 677, dtype: float64
0.47767131452202455 예정가격    0.314689
Name: 354, dtype: float64
0.5052346953426677 예정가격    0.409127
Name: 1181, dtype: float64
0.47233470537642264 예정가격    0.548947
Name: 27, dtype: float64
0.501164191000996 예정가격    0.57131
Name: 496, dtype: float64
0.5787758484799589 예정가격    0.677754
Name: 842, dtype: float64
0.5038871605836074 예정가격    0.489015
Name: 839, dtype: float64
0.5951053129545545 예정가격    0.226503
Name: 1216, dtype: float64
0.5152860933680199 예정가격    0.311091
Name: 234, dtype: float64
0.47233470537642264 예정가격    0.609375
Name: 279, dtype: float64
0.46492655916064024 예정가격    0.344245
Name: 497, dtype: float64
0.48644100508451743 예정가격    0.526386
Name: 675, dtype: float64
0.46959769384852323 예정가격    0.398286
Name: 716, dtype: float64
0.49718008335753106 예정가격    0.512694
Name: 619, dtype: float64
0.5436848462343654 예정가격    0.215284
Name: 434, dtype: float64
0.46169901074814385 예정가격    0.635059
Name: 953, dtype: float64
0.4556901748428818 예정가격    0.363797
Name: 399, dtype: float64
0.41609535574651824 예정가격    0.390593
Name: 911, dtype: float64
0.47233470537642264 예정가격    0.303819
Name: 1019, dtype: float64
0.49246772065213656 예정가격    0.37123
Name: 293, dtype: float64
0.483136795418563 예정가격    0.690458
Name: 124, dtype: float64
0.46058126181589776 예정가격    0.745188
Name: 280, dtype: float64
0.5304791455656716 예정가격    0.365357
Name: 636, dtype: float64
0.46496696862248543 예정가격    0.483456
Name: 483, dtype: float64
0.5174679084664916 예정가격    0.594388
Name: 811, dtype: float64
0.46307001714958035 예정가격    0.475667
Name: 747, dtype: float64
0.4784130948531535 예정가격    0.636213
Name: 1178, dtype: float64
0.5242146235902176 예정가격    0.612321
Name: 500, dtype: float64
0.45805721829217916 예정가격    0.718083
Name: 822, dtype: float64
0.49012288847379604 예정가격    0.332102
Name: 357, dtype: float64
0.4806028387342975 예정가격    0.6873
Name: 161, dtype: float64
0.5090669023831915 예정가격    0.551125
Name: 950, dtype: float64
0.49419198003771775 예정가격    0.379878
Name: 1041, dtype: float64
0.411524844799761 예정가격    0.511004
Name: 231, dtype: float64
0.49475741348148344 예정가격    0.35599
Name: 1100, dtype: float64
0.5199716852855465 예정가격    0.303897
Name: 846, dtype: float64
0.4707555606382185 예정가격    0.402337
Name: 143, dtype: float64
0.47058842096971765 예정가격    0.408335
Name: 598, dtype: float64
0.5446599261392763 예정가격    0.375928
Name: 382, dtype: float64
0.5114204115461388 예정가격    0.520504
Name: 788, dtype: float64
0.4852790184406841 예정가격    0.619962
Name: 428, dtype: float64
0.4985116404582768 예정가격    0.722558
Name: 16, dtype: float64
0.4826274871129812 예정가격    0.615666
Name: 1090, dtype: float64
0.5226335003615128 예정가격    0.800258
Name: 625, dtype: float64
0.46379703105405357 예정가격    0.479142
Name: 437, dtype: float64
0.5287678507639685 예정가격    0.603087
Name: 411, dtype: float64
0.5390961714625343 예정가격    0.551692
Name: 771, dtype: float64
0.4970803539290417 예정가격    0.485859
Name: 841, dtype: float64
0.41116552009473134 예정가격    0.501026
Name: 946, dtype: float64
0.4646413658498264 예정가격    0.628
Name: 1240, dtype: float64
0.4659110456812652 예정가격    0.565167
Name: 1164, dtype: float64
0.47605308423843984 예정가격    0.315578
Name: 742, dtype: float64
0.48300511584935907 예정가격    0.560004
Name: 947, dtype: float64
0.5077271142316954 예정가격    0.43219
Name: 666, dtype: float64
0.41609535574651824 예정가격    0.521385
Name: 375, dtype: float64
0.4240781111729784 예정가격    0.694674
Name: 254, dtype: float64
0.47834100725487183 예정가격    0.481279
Name: 64, dtype: float64
0.525568203142548 예정가격    0.607446
Name: 680, dtype: float64
0.46058126181589776 예정가격    0.481125
Name: 1015, dtype: float64
0.5354036265535194 예정가격    0.623819
Name: 581, dtype: float64
0.4102815224929905 예정가격    0.639131
Name: 1101, dtype: float64
0.4147032942833953 예정가격    0.570388
Name: 927, dtype: float64
0.5463598421179106 예정가격    0.523103
Name: 957, dtype: float64
0.4425439990383453 예정가격    0.54925
Name: 852, dtype: float64
0.4665576833758618 예정가격    0.721584
Name: 190, dtype: float64
0.5591341744466825 예정가격    0.618024
Name: 945, dtype: float64
0.5223242181422613 예정가격    0.527011
Name: 435, dtype: float64
0.47517524002183814 예정가격    0.40134
Name: 32, dtype: float64
0.46397772919840136 예정가격    0.414043
Name: 489, dtype: float64
0.5124521643174813 예정가격    0.535875
Name: 1014, dtype: float64
0.5121408764645163 예정가격    0.468253
Name: 900, dtype: float64
0.5094443644566037 예정가격    0.547125
Name: 1066, dtype: float64
0.5044471519168684 예정가격    0.685414
Name: 188, dtype: float64
0.4881959854935031 예정가격    0.544442
Name: 547, dtype: float64
0.44756670415405947 예정가격    0.650755
Name: 416, dtype: float64
0.4797938133272324 예정가격    0.475822
Name: 257, dtype: float64
0.5629074706920175 예정가격    0.484545
Name: 338, dtype: float64
0.44173590394843454 예정가격    0.829295
Name: 1062, dtype: float64
0.4525744869071228 예정가격    0.5521
Name: 723, dtype: float64
0.5530058629850579 예정가격    0.397936
Name: 261, dtype: float64
0.5682144739257463 예정가격    0.525883
Name: 564, dtype: float64
0.5629074706920175 예정가격    0.574878
Name: 38, dtype: float64
0.453000020012692 예정가격    0.497299
Name: 283, dtype: float64
0.4102815224929905 예정가격    0.387556
Name: 930, dtype: float64
0.5032466857719248 예정가격    0.270379
Name: 700, dtype: float64
0.46962825584244344 예정가격    0.574588
Name: 560, dtype: float64
0.48633531735558727 예정가격    0.436883
Name: 543, dtype: float64
0.453000020012692 예정가격    0.340587
Name: 798, dtype: float64
0.4557354162307986 예정가격    0.675924
Name: 486, dtype: float64
0.528890612208184 예정가격    0.416523
Name: 572, dtype: float64
0.39782455168456926 예정가격    0.533049
Name: 660, dtype: float64
0.43134594168801926 예정가격    0.488636
Name: 906, dtype: float64
0.45900637624852 예정가격    0.546788
Name: 1098, dtype: float64
0.483809863044973 예정가격    0.627458
Name: 966, dtype: float64
0.4864068362687424 예정가격    0.412847
Name: 570, dtype: float64
0.5304791455656716 예정가격    0.343903
Name: 728, dtype: float64
0.44714198925632564 예정가격    0.7235
Name: 1206, dtype: float64
0.46563530128761577 예정가격    0.393667
Name: 553, dtype: float64
0.4149492050706889 예정가격    0.49064
Name: 1226, dtype: float64
0.48751462878360813 예정가격    0.526063
Name: 417, dtype: float64
0.46959769384852323 예정가격    0.421959
Name: 470, dtype: float64
0.5189457128468843 예정가격    0.615389
Name: 1187, dtype: float64
0.5216489511121601 예정가격    0.494103
Name: 1148, dtype: float64
0.5524165417265222 예정가격    0.469517
Name: 802, dtype: float64
0.47233470537642264 예정가격    0.278595
Name: 941, dtype: float64

# DNN

In [26]:
# feature_df, label_df 생성

feature_cols = ['기초금액', '낙찰하한율', '기초금액기준상위개수', '예가범위1', '예가범위2']
label_cols = ['예정가격', '투찰률']

feature_df = pd.DataFrame(Final_df, columns=feature_cols)
label_df = pd.DataFrame(Final_df, columns=label_cols)

In [27]:
from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(feature_df, label_df, train_size=0.8, test_size=0.2)
# x_test.head()
x_train, y_train = torch.from_numpy(feature_df.to_numpy()), torch.from_numpy(label_df.to_numpy())

In [28]:
import torch

In [29]:
device='cuda' if torch.cuda.is_available() else 'cpu'
torch.manual_seed(777)

if device=='cuda':
  torch.cuda.manual_seed_all(777)

In [30]:
def weight_init(submodule):
    if isinstance(submodule, nn.Linear):
        nn.init.kaiming_normal_(submodule.weight)
        submodule.bias.data.fill_(0.01)

def layer(input_size, output_size):
    return nn.Sequential(
            nn.Linear(input_size, output_size, bias=True),
            nn.ReLU(),
            #nn.Dropout(0.1)
        )

class DNN(torch.nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(DNN, self).__init__()
        self.input_size=input_size
        self.hidden_size=hidden_size

        self.layer1=nn.Sequential(
            nn.Linear(self.input_size, self.hidden_size[0], bias=True),
            nn.ReLU(),
            #nn.Dropout(0.1)
        )

        self.hidden_layers=nn.ModuleList([layer(hidden_size[i], hidden_size[i+1]) for i in range(len(hidden_size)-1)])
        self.fc=nn.Linear(hidden_size[len(hidden_size)-1], output_size, bias=True)

        
        self.layer1.apply(weight_init)
        
        for Layer in self.hidden_layers:
            Layer.apply(weight_init)
        
        nn.init.kaiming_normal_(self.fc.weight)

    def forward(self, x):
        out=self.layer1(x)
        
        for Layer in self.hidden_layers:
            out=Layer(out)

        out=self.fc(out)
        return out

In [31]:
class RMSELoss(torch.nn.Module):
    def __init__(self):
        super(RMSELoss,self).__init__()

    def forward(self,x,y):
        criterion = nn.MSELoss()
        loss = torch.sqrt(criterion(x, y))
        return loss

In [32]:
# x_train, y_train, x_test, y_test = torch.from_numpy(x_train.to_numpy()), torch.from_numpy(y_train.to_numpy()), torch.from_numpy(x_test.to_numpy()), torch.from_numpy(y_test.to_numpy()),

In [33]:
from torch.utils.data import TensorDataset, DataLoader
from sklearn.model_selection import train_test_split

# 1. df 로드
name='dataset_result.csv'
# df=pd.read_csv(path+name, encoding='euc-kr')
df=pd.read_csv(path+name, encoding='utf-8-sig')
df=df.sample(frac=1).reset_index(drop=True)

# 2. 전처리 및 Dataset 인스턴스 생성
del df['target rate']
ds_train = preprocess(df[:-200])
ds_test = preprocess(df[-200:])

# 3. DataLoader 인스턴스 생성
loader_train=DataLoader(ds_train, batch_size=16, shuffle=True)

# ds_train=TensorDataset(x_train, y_train)
# # ds_test=TensorDataset(x_test, y_test)

# loader_train=DataLoader(ds_train, batch_size=16, shuffle=True)
# # loader_test=DataLoader(ds_test, batch_size=16, shuffle=False)

learning_rate=0.0001
total_epochs=200

HL_list=[12, 6]

model=DNN(5, HL_list, 2).to(device)

optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

criterion = RMSELoss().to(device)

(1047, 1) (1047, 1) (1047, 1) (1047, 1) (1047, 1)
1047 1047 1047 1047 1047
<class 'numpy.ndarray'>

(200, 1) (200, 1) (200, 1) (200, 1) (200, 1)
200 200 200 200 200
<class 'numpy.ndarray'>

In [34]:
total_batch = len(loader_train)
# val_total_batch = len(loader_test)
print(total_batch)

for epoch in range(total_epochs):

    avg_loss=0

    best_val_loss = 10000
    for X, Y in loader_train:
        #LRprediction = modelfunction(X)
        X=X.float().to(device)
        Y=Y.float().to(device)
        #LRprediction = LRprediction.float().to(device)


        # if epoch ==0:
        #     print(X)

        optimizer.zero_grad()
        pred = model(X)

        # if epoch %10 ==0:
        #     print(pred, Y)
        loss = criterion(pred, Y)
        loss.backward()
        optimizer.step()

        avg_loss += loss / total_batch
    
    with torch.no_grad():
        val_loss = 0
        # for X, Y in loader_test:
            
        #     X=X.float().to(device)
        #     Y=Y.float().to(device)

        #     pred = model(X)

        #     loss = criterion(pred, Y)

        #     val_loss += loss / val_total_batch

    if epoch % 10 == 0:
        print('Epoch: {} train_loss = {}, val_loss = {}'.format(epoch+1, avg_loss, val_loss))

66

/usr/local/lib/python3.7/dist-packages/torch/nn/modules/loss.py:529: UserWarning: Using a target size (torch.Size([16, 1])) that is different to the input size (torch.Size([16, 2])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
/usr/local/lib/python3.7/dist-packages/torch/nn/modules/loss.py:529: UserWarning: Using a target size (torch.Size([7, 1])) that is different to the input size (torch.Size([7, 2])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch: 1 train_loss = 1.1186093091964722, val_loss = 0
Epoch: 11 train_loss = 0.5412943959236145, val_loss = 0
Epoch: 21 train_loss = 0.44105294346809387, val_loss = 0
Epoch: 31 train_loss = 0.3731015920639038, val_loss = 0
Epoch: 41 train_loss = 0.31823647022247314, val_loss = 0
Epoch: 51 train_loss = 0.2722826898097992, val_loss = 0
Epoch: 61 train_loss = 0.23196116089820862, val_loss = 0
Epoch: 71 train_loss = 0.19836100935935974, val_loss = 0
Epoch: 81 train_loss = 0.1685347557067871, val_loss = 0
Epoch: 91 train_loss = 0.14612551033496857, val_loss = 0
Epoch: 101 train_loss = 0.1353328675031662, val_loss = 0
Epoch: 111 train_loss = 0.13012486696243286, val_loss = 0
Epoch: 121 train_loss = 0.12844263017177582, val_loss = 0
Epoch: 131 train_loss = 0.1276625096797943, val_loss = 0
Epoch: 141 train_loss = 0.12826618552207947, val_loss = 0
Epoch: 151 train_loss = 0.12776139378547668, val_loss = 0
Epoch: 161 train_loss = 0.12860751152038574, val_loss = 0
Epoch: 171 train_loss = 0.12785060703754425, val_loss = 0
Epoch: 181 train_loss = 0.12840817868709564, val_loss = 0
Epoch: 191 train_loss = 0.12808388471603394, val_loss = 0

In [35]:
# 기초금액	참여업체수 낙찰하한율 기초금액기준상위개수 예가범위1 예가범위2
# 예정가격
def reverse_PC(x_test, pred, BC):
  totrange = (x_test[3]*100)+(x_test[4]*100)
  return ((pred * totrange + 100 - (x_test[3]*100)) * BC / 100)

def bid_res(pred_PC, sPC, smin_rate, sBidCost, ann_num): #낙찰 여부를 판독하는 함수
  # 투찰가
  BidCost = float(sBidCost)
  # 낙찰하한가MinCost pred_PC
  MinCost = float(sPC) * float(smin_rate) /100
  pred_PC = float(pred_PC) * float(smin_rate) /100
  print('입찰공고번호', ann_num, '투찰가', round(BidCost, 1), '낙찰하한가', round(MinCost, 1), '예측 가격', round(pred_PC, 1), '예정가격', sPC, '낙찰하한율', smin_rate, end='')
  if pred_PC < BidCost and pred_PC >= MinCost:
    print('TP')
    return True
  else:
    print('TN')
    return False

In [36]:
total_len = len(ds_test)
TP = 0
TF = 0
for idx in range(len(ds_test)):

    x_test, y_test = ds_test[idx]

    pred = model(x_test.float().to(device)).detach().cpu().numpy()
    pred_PC = reverse_PC(x_test.detach().cpu().numpy(), pred[0], float(df['기초금액'][idx]))
    if bid_res(pred_PC, df['예정가격'][idx], df['낙찰하한율'][idx], df['투찰금액'][idx], df['입찰공고번호'][idx]):
      TP += 1
    else:
      TF += 1

print(total_len, TP, TF)

입찰공고번호 20220505083-00 투찰가 190854730.0 낙찰하한가 189992308.3 예측 가격 189469269.5 예정가격 236029950.0 낙찰하한율 80.495TN
입찰공고번호 20220513309-00 투찰가 429.0 낙찰하한가 425.5 예측 가격 431.9 예정가격 472.8 낙찰하한율 90.0TN
입찰공고번호 20220503170-00 투찰가 32451900.0 낙찰하한가 32449670.0 예측 가격 32543432.7 예정가격 36874625.0 낙찰하한율 88.0TN
입찰공고번호 20220519109-01 투찰가 19500000.0 낙찰하한가 18554206.0 예측 가격 18408516.1 예정가격 21084325.0 낙찰하한율 88.0TN
입찰공고번호 20220443128-00 투찰가 42900000.0 낙찰하한가 35556680.0 예측 가격 35653124.1 예정가격 44445850.0 낙찰하한율 80.0TP
입찰공고번호 20220516056-00 투찰가 76626190.0 낙찰하한가 70349840.0 예측 가격 70260254.1 예정가격 79943000.0 낙찰하한율 88.0TN
입찰공고번호 20220504055-00 투찰가 26020070.0 낙찰하한가 26018520.0 예측 가격 26026830.2 예정가격 29566500.0 낙찰하한율 88.0TN
입찰공고번호 20220500149-00 투찰가 23055000.0 낙찰하한가 22809182.0 예측 가격 22972453.2 예정가격 25919525.0 낙찰하한율 88.0TP
입찰공고번호 20220512913-00 투찰가 66027000.0 낙찰하한가 57747293.8 예측 가격 57656611.9 예정가격 68546850.0 낙찰하한율 84.245TN
입찰공고번호 20220511573-00 투찰가 91564774.0 낙찰하한가 91528360.0 예측 가격 92256234.0 예정가격 104009500.0 낙찰하한율 88.0TN
입찰공고번호 20220500411-00 투찰가 1350.3 낙찰하한가 1274.5 예측 가격 1279.9 예정가격 1512.81 낙찰하한율 84.245TP
입찰공고번호 20220510097-00 투찰가 34721000.0 낙찰하한가 34065020.0 예측 가격 33704441.7 예정가격 38710250.0 낙찰하한율 88.0TN
입찰공고번호 20220517932-00 투찰가 12606048.0 낙찰하한가 12591128.0 예측 가격 12685957.8 예정가격 14308100.0 낙찰하한율 88.0TN
입찰공고번호 20220507336-00 투찰가 23280000.0 낙찰하한가 21288212.0 예측 가격 21105729.9 예정가격 24191150.0 낙찰하한율 88.0TN
입찰공고번호 20211239506-00 투찰가 149446990.0 낙찰하한가 149389402.5 예측 가격 149042447.7 예정가격 165988225.0 낙찰하한율 90.0TN
입찰공고번호 20220500242-00 투찰가 21804.6 낙찰하한가 21587.6 예측 가격 21793.3 예정가격 25624.81 낙찰하한율 84.245TP
입찰공고번호 20220513568-00 투찰가 51865840.0 낙찰하한가 51350354.0 예측 가격 52233421.6 예정가격 58352675.0 낙찰하한율 88.0TN
입찰공고번호 20220514232-00 투찰가 129250421.0 낙찰하한가 127852929.2 예측 가격 128797578.0 예정가격 145295675.0 낙찰하한율 87.995TP
입찰공고번호 20220504950-00 투찰가 20926780.0 낙찰하한가 20794862.0 예측 가격 20910428.2 예정가격 23630525.0 낙찰하한율 88.0TP
입찰공고번호 20220507566-00 투찰가 107443540.0 낙찰하한가 106291602.2 예측 가격 107677345.3 예정가격 120861450.0 낙찰하한율 87.945TN
입찰공고번호 20220508713-00 투찰가 46854.0 낙찰하한가 46767.8 예측 가격 46776.2 예정가격 51964.25 낙찰하한율 90.0TP
입찰공고번호 20220501686-00 투찰가 67914000.0 낙찰하한가 62607006.0 예측 가격 61832813.5 예정가격 71144325.0 낙찰하한율 88.0TN
입찰공고번호 20211226852-00 투찰가 95811530.0 낙찰하한가 95372038.8 예측 가격 94358449.6 예정가격 108383475.0 낙찰하한율 87.995TN
입찰공고번호 20220501103-00 투찰가 176807330.0 낙찰하한가 176502541.9 예측 가격 177141449.7 예정가격 209511000.0 낙찰하한율 84.245TN
입찰공고번호 20220512868-00 투찰가 26012200.0 낙찰하한가 25967480.0 예측 가격 26193433.0 예정가격 29508500.0 낙찰하한율 88.0TN
입찰공고번호 20220502980-00 투찰가 197136.0 낙찰하한가 197130.5 예측 가격 199343.7 예정가격 224011.91 낙찰하한율 88.0TN
입찰공고번호 20211239054-00 투찰가 52802640.0 낙찰하한가 52449518.0 예측 가격 52464246.9 예정가격 59601725.0 낙찰하한율 88.0TP
입찰공고번호 20220442222-00 투찰가 261992100.0 낙찰하한가 261682282.2 예측 가격 259414328.7 예정가격 325091350.0 낙찰하한율 80.495TN
입찰공고번호 20220510488-00 투찰가 99000000.0 낙찰하한가 87144354.0 예측 가격 87918766.1 예정가격 99027675.0 낙찰하한율 88.0TP
입찰공고번호 20211232828-00 투찰가 57.9 낙찰하한가 57.9 예측 가격 57.9 예정가격 71.91 낙찰하한율 80.495TN
입찰공고번호 20220447829-00 투찰가 81224000.0 낙찰하한가 80655806.0 예측 가격 80945192.2 예정가격 91654325.0 낙찰하한율 88.0TP
입찰공고번호 20220507814-00 투찰가 16947810.0 낙찰하한가 16820437.5 예측 가격 16916079.2 예정가격 18689375.0 낙찰하한율 90.0TP
입찰공고번호 20220502314-00 투찰가 26411.0 낙찰하한가 24774.5 예측 가격 24977.9 예정가격 28154.42 낙찰하한율 87.995TP
입찰공고번호 20220511509-00 투찰가 9725550.0 낙찰하한가 9725242.5 예측 가격 9682221.0 예정가격 10805825.0 낙찰하한율 90.0TN
입찰공고번호 20220500661-00 투찰가 167194900.0 낙찰하한가 167083024.3 예측 가격 167568234.0 예정가격 198329900.0 낙찰하한율 84.245TN
입찰공고번호 20220513985-00 투찰가 153386200.0 낙찰하한가 153279481.0 예측 가격 152048328.7 예정가격 181944900.0 낙찰하한율 84.245TN
입찰공고번호 20211238995-00 투찰가 26387000.0 낙찰하한가 26218324.0 예측 가격 26117392.9 예정가격 29793550.0 낙찰하한율 88.0TN
입찰공고번호 20220506663-00 투찰가 60558700.0 낙찰하한가 60513141.4 예측 가격 60627866.4 예정가격 71829950.0 낙찰하한율 84.245TN
입찰공고번호 20220507177-00 투찰가 122506219.0 낙찰하한가 122315652.5 예측 가격 122016476.9 예정가격 145190400.0 낙찰하한율 84.245TN
입찰공고번호 20220447536-00 투찰가 298243600.0 낙찰하한가 297139746.1 예측 가격 299572611.0 예정가격 369140625.0 낙찰하한율 80.495TN
입찰공고번호 20220508110-00 투찰가 65802000.0 낙찰하한가 65773246.0 예측 가격 65614596.8 예정가격 74742325.0 낙찰하한율 88.0TN
입찰공고번호 20171235939-00 투찰가 140840150.0 낙찰하한가 138715208.0 예측 가격 140301109.3 예정가격 157639875.0 낙찰하한율 87.995TP
입찰공고번호 20220510080-00 투찰가 298176000.0 낙찰하한가 256151370.1 예측 가격 255717159.1 예정가격 318220225.0 낙찰하한율 80.495TN
입찰공고번호 20220511476-00 투찰가 9659870.0 낙찰하한가 9531022.5 예측 가격 9704307.7 예정가격 10590025.0 낙찰하한율 90.0TN
입찰공고번호 20220403776-00 투찰가 270911142.0 낙찰하한가 270076739.9 예측 가격 270167078.5 예정가격 306922825.0 낙찰하한율 87.995TP
입찰공고번호 20220513247-00 투찰가 101987000.0 낙찰하한가 91684142.0 예측 가격 91126497.6 예정가격 104186525.0 낙찰하한율 88.0TN
입찰공고번호 20220428905-00 투찰가 47754180.0 낙찰하한가 47742484.0 예측 가격 48213005.2 예정가격 56671000.0 낙찰하한율 84.245TN
입찰공고번호 20220501079-00 투찰가 349380640.0 낙찰하한가 348620636.9 예측 가격 348506555.9 예정가격 396182325.0 낙찰하한율 87.995TN
입찰공고번호 20220501669-00 투찰가 86570484.0 낙찰하한가 86558831.0 예측 가격 87477068.5 예정가격 102746550.0 낙찰하한율 84.245TN
입찰공고번호 20220504347-00 투찰가 38474710.0 낙찰하한가 38446826.0 예측 가격 38694088.0 예정가격 43689575.0 낙찰하한율 88.0TN
입찰공고번호 20220503287-00 투찰가 131035300.0 낙찰하한가 130741184.5 예측 가격 129638279.9 예정가격 155191625.0 낙찰하한율 84.245TN
입찰공고번호 20220507685-00 투찰가 36201000.0 낙찰하한가 35559480.0 예측 가격 35169616.8 예정가격 40408500.0 낙찰하한율 88.0TN
입찰공고번호 20220506323-00 투찰가 323474840.0 낙찰하한가 323463522.9 예측 가격 324934211.1 예정가격 401843000.0 낙찰하한율 80.495TN
입찰공고번호 20220514673-00 투찰가 44914010.0 낙찰하한가 44899162.0 예측 가격 44984661.5 예정가격 51021775.0 낙찰하한율 88.0TN
입찰공고번호 20220508265-00 투찰가 52142400.0 낙찰하한가 52137712.0 예측 가격 52232104.2 예정가격 59247400.0 낙찰하한율 88.0TN
입찰공고번호 20220507389-00 투찰가 166962400.0 낙찰하한가 166762661.6 예측 가격 166326376.2 예정가격 197949625.0 낙찰하한율 84.245TN
입찰공고번호 20180100818-00 투찰가 26230000.0 낙찰하한가 26161828.0 예측 가격 26440321.9 예정가격 29729350.0 낙찰하한율 88.0TN
입찰공고번호 20171237421-00 투찰가 206500.0 낙찰하한가 206389.8 예측 가격 205357.5 예정가격 244987.64 낙찰하한율 84.245TN
입찰공고번호 20220506896-00 투찰가 350.9 낙찰하한가 350.3 예측 가격 351.7 예정가격 398.02 낙찰하한율 88.0TN
입찰공고번호 20220514040-00 투찰가 23880000.0 낙찰하한가 23038906.0 예측 가격 22910003.3 예정가격 26180575.0 낙찰하한율 88.0TN
입찰공고번호 20220511990-00 투찰가 123084100.0 낙찰하한가 122386569.8 예측 가격 123147852.0 예정가격 139083550.0 낙찰하한율 87.995TN
입찰공고번호 20220501026-00 투찰가 125878000.0 낙찰하한가 124990470.0 예측 가격 125568088.8 예정가격 142034625.0 낙찰하한율 88.0TP
입찰공고번호 20220508835-00 투찰가 30933.0 낙찰하한가 30849.2 예측 가격 31188.0 예정가격 35057.93 낙찰하한율 87.995TN
입찰공고번호 20211238635-00 투찰가 23753400.0 낙찰하한가 23750188.0 예측 가격 23677546.2 예정가격 26988850.0 낙찰하한율 88.0TN
입찰공고번호 20220505278-00 투찰가 93482930.0 낙찰하한가 93468641.0 예측 가격 93120681.5 예정가격 106220400.0 낙찰하한율 87.995TN
입찰공고번호 20220447685-00 투찰가 1480245000.0 낙찰하한가 1479475026.1 예측 가격 1473670583.8 예정가격 1681317150.0 낙찰하한율 87.995TN
입찰공고번호 20220510256-00 투찰가 400008800.0 낙찰하한가 375102222.0 예측 가격 374592999.1 예정가격 426252525.0 낙찰하한율 88.0TN
입찰공고번호 20211231734-00 투찰가 4228865.0 낙찰하한가 4213097.6 예측 가격 4225177.1 예정가격 4787610.89 낙찰하한율 88.0TP
입찰공고번호 20220501631-00 투찰가 56342000.0 낙찰하한가 52890046.0 예측 가격 52241862.8 예정가격 60102325.0 낙찰하한율 88.0TN
입찰공고번호 20211237777-00 투찰가 3385840.0 낙찰하한가 3385305.0 예측 가격 3394804.9 예정가격 3761450.0 낙찰하한율 90.0TN
입찰공고번호 20220441468-00 투찰가 55168350.0 낙찰하한가 55137741.7 예측 가격 55172031.6 예정가격 65449275.0 낙찰하한율 84.245TN
입찰공고번호 20220507075-00 투찰가 20578000.0 낙찰하한가 20574180.0 예측 가격 20688653.4 예정가격 23379750.0 낙찰하한율 88.0TN
입찰공고번호 20220508103-00 투찰가 63206440.0 낙찰하한가 63172010.0 예측 가격 63072640.3 예정가격 71786375.0 낙찰하한율 88.0TN
입찰공고번호 20211234436-00 투찰가 28881018.0 낙찰하한가 28713608.0 예측 가격 28824383.4 예정가격 32629100.0 낙찰하한율 88.0TP
입찰공고번호 20220441776-00 투찰가 34513000.0 낙찰하한가 34403757.1 예측 가격 34257140.8 예정가격 39097400.0 낙찰하한율 87.995TN
입찰공고번호 20220442245-00 투찰가 75311000.0 낙찰하한가 73956651.7 예측 가격 73947312.7 예정가격 84046425.0 낙찰하한율 87.995TN
입찰공고번호 20220517952-00 투찰가 9583200.0 낙찰하한가 9581638.0 예측 가격 9576956.5 예정가격 10888225.0 낙찰하한율 88.0TN
입찰공고번호 20220507080-00 투찰가 63371440.0 낙찰하한가 61169315.0 예측 가격 61164331.6 예정가격 71963900.0 낙찰하한율 85.0TN
입찰공고번호 20220500445-00 투찰가 16782860.0 낙찰하한가 16780927.5 예측 가격 16718230.3 예정가격 18645475.0 낙찰하한율 90.0TN
입찰공고번호 20220506249-00 투찰가 64004123.0 낙찰하한가 63328804.0 예측 가격 63955309.8 예정가격 71964550.0 낙찰하한율 88.0TP
입찰공고번호 20211240075-01 투찰가 3542200.0 낙찰하한가 3388220.0 예측 가격 3358834.1 예정가격 3850250.0 낙찰하한율 88.0TN
입찰공고번호 20220516640-00 투찰가 21801000.0 낙찰하한가 21748386.0 예측 가격 21710467.6 예정가격 24714075.0 낙찰하한율 88.0TN
입찰공고번호 20220503864-00 투찰가 75571360.0 낙찰하한가 75570550.0 예측 가격 75182574.2 예정가격 85875625.0 낙찰하한율 88.0TN
입찰공고번호 20220514626-00 투찰가 447593995.0 낙찰하한가 447540548.3 예측 가격 449817797.1 예정가격 555985525.0 낙찰하한율 80.495TN
입찰공고번호 20220501811-00 투찰가 162018750.0 낙찰하한가 159019576.6 예측 가격 161200271.3 예정가격 180817075.0 낙찰하한율 87.945TP
입찰공고번호 20220514085-00 투찰가 23133000.0 낙찰하한가 22488554.0 예측 가격 22397948.4 예정가격 25555175.0 낙찰하한율 88.0TN
입찰공고번호 20220511869-00 투찰가 11926611.0 낙찰하한가 11916787.5 예측 가격 11899521.9 예정가격 13240875.0 낙찰하한율 90.0TN
입찰공고번호 20211233272-00 투찰가 76478160.0 낙찰하한가 75437227.4 예측 가격 74922739.0 예정가격 89545050.0 낙찰하한율 84.245TN
입찰공고번호 20220501905-00 투찰가 30207710.0 낙찰하한가 30187168.0 예측 가격 30301149.5 예정가격 34303600.0 낙찰하한율 88.0TN
입찰공고번호 20220500370-01 투찰가 177892000.0 낙찰하한가 176420445.2 예측 가격 176805568.7 예정가격 209413550.0 낙찰하한율 84.245TP
입찰공고번호 20220513719-00 투찰가 259864440.0 낙찰하한가 213270697.6 예측 가격 213148943.0 예정가격 264949000.0 낙찰하한율 80.495TN
입찰공고번호 20220513546-00 투찰가 24626840.0 낙찰하한가 24619518.0 예측 가격 24645264.7 예정가격 27976725.0 낙찰하한율 88.0TN
입찰공고번호 20220443151-00 투찰가 1684000000.0 낙찰하한가 1519130852.8 예측 가격 1511479554.6 예정가격 1726383150.0 낙찰하한율 87.995TN
입찰공고번호 20220508770-00 투찰가 114029294.0 낙찰하한가 114028661.4 예측 가격 113963803.7 예정가격 135353625.0 낙찰하한율 84.245TN
입찰공고번호 20220443415-00 투찰가 92899100.0 낙찰하한가 92888263.2 예측 가격 92916193.5 예정가격 110259675.0 낙찰하한율 84.245TN
입찰공고번호 20220507664-00 투찰가 87560.0 낙찰하한가 87010.0 예측 가격 87932.8 예정가격 98875.0 낙찰하한율 88.0TN
입찰공고번호 20211237228-00 투찰가 13990.0 낙찰하한가 13986.7 예측 가격 13918.1 예정가격 15540.82 낙찰하한율 90.0TN
입찰공고번호 20220505464-00 투찰가 39796700.0 낙찰하한가 39741812.0 예측 가격 39605855.9 예정가격 45161150.0 낙찰하한율 88.0TN
입찰공고번호 20220507675-00 투찰가 63123380.0 낙찰하한가 63113721.3 예측 가격 63404904.2 예정가격 74916875.0 낙찰하한율 84.245TN
입찰공고번호 20220502472-00 투찰가 72738000.0 낙찰하한가 71044545.1 예측 가격 70580555.7 예정가격 80737025.0 낙찰하한율 87.995TN
입찰공고번호 20171238777-00 투찰가 34960.0 낙찰하한가 31852.1 예측 가격 31324.9 예정가격 37808.88 낙찰하한율 84.245TN
입찰공고번호 20220508291-00 투찰가 963.0 낙찰하한가 906.8 예측 가격 901.3 예정가격 1030.48 낙찰하한율 88.0TN
입찰공고번호 20220504461-00 투찰가 52134590.0 낙찰하한가 52111155.9 예측 가격 52098030.1 예정가격 61856675.0 낙찰하한율 84.245TN
입찰공고번호 20211230699-00 투찰가 269690000.0 낙찰하한가 219963937.3 예측 가격 217331488.3 예정가격 273264100.0 낙찰하한율 80.495TN
입찰공고번호 20220508554-00 투찰가 52507600.0 낙찰하한가 52503660.0 예측 가격 52759701.2 예정가격 59663250.0 낙찰하한율 88.0TN
입찰공고번호 20220509439-00 투찰가 74844.0 낙찰하한가 74098.8 예측 가격 74750.0 예정가격 84203.13 낙찰하한율 88.0TP
입찰공고번호 20220513516-00 투찰가 24321480.0 낙찰하한가 24313652.0 예측 가격 24181529.7 예정가격 27629150.0 낙찰하한율 88.0TN
입찰공고번호 20220504921-00 투찰가 60832757.0 낙찰하한가 60820783.1 예측 가격 61115189.1 예정가격 72195125.0 낙찰하한율 84.245TN
입찰공고번호 20220500547-00 투찰가 8888700.0 낙찰하한가 8811787.5 예측 가격 8813629.0 예정가격 9790875.0 낙찰하한율 90.0TP
입찰공고번호 20220324678-00 투찰가 123939213.0 낙찰하한가 123938758.8 예측 가격 123784288.1 예정가격 147117050.0 낙찰하한율 84.245TN
입찰공고번호 20211230304-00 투찰가 437704200.0 낙찰하한가 437421698.5 예측 가격 434995492.6 예정가격 497380975.0 낙찰하한율 87.945TN
입찰공고번호 20171238137-00 투찰가 124550.0 낙찰하한가 122980.0 예측 가격 120941.1 예정가격 139750.0 낙찰하한율 88.0TN
입찰공고번호 20220514856-00 투찰가 32500000.0 낙찰하한가 30413856.0 예측 가격 30344552.1 예정가격 34561200.0 낙찰하한율 88.0TN
입찰공고번호 20220505489-00 투찰가 74056000.0 낙찰하한가 74006284.0 예측 가격 73894894.9 예정가격 84098050.0 낙찰하한율 88.0TN
입찰공고번호 20220509155-00 투찰가 24193000.0 낙찰하한가 24105972.0 예측 가격 24261782.6 예정가격 27393150.0 낙찰하한율 88.0TN
입찰공고번호 20220447407-00 투찰가 436.5 낙찰하한가 436.3 예측 가격 434.1 예정가격 484.78 낙찰하한율 90.0TN
입찰공고번호 20220511090-00 투찰가 36085000.0 낙찰하한가 35290332.0 예측 가격 35169616.8 예정가격 40102650.0 낙찰하한율 88.0TN
입찰공고번호 20211228950-00 투찰가 150277400.0 낙찰하한가 150133751.6 예측 가격 150300809.5 예정가격 178210875.0 낙찰하한율 84.245TN
입찰공고번호 20220507163-00 투찰가 631655680.0 낙찰하한가 631650966.2 예측 가격 633923056.0 예정가격 784708325.0 낙찰하한율 80.495TN
입찰공고번호 20220501614-00 투찰가 27148472.0 낙찰하한가 27148297.5 예측 가격 26986534.6 예정가격 30164775.0 낙찰하한율 90.0TN
입찰공고번호 20220505143-00 투찰가 22990000.0 낙찰하한가 22984542.3 예측 가격 22882135.1 예정가격 27282975.0 낙찰하한율 84.245TN
입찰공고번호 20220509190-00 투찰가 34525000.0 낙찰하한가 33754776.0 예측 가격 33788192.0 예정가격 38357700.0 낙찰하한율 88.0TP
입찰공고번호 20220500841-00 투찰가 168900000.0 낙찰하한가 149983757.7 예측 가격 149403156.5 예정가격 186326800.0 낙찰하한율 80.495TN
입찰공고번호 20220509117-00 투찰가 28772282.0 낙찰하한가 28605148.0 예측 가격 28630931.2 예정가격 32505850.0 낙찰하한율 88.0TP
입찰공고번호 20220447811-01 투찰가 344750000.0 낙찰하한가 281726161.0 예측 가격 281517471.9 예정가격 349992125.0 낙찰하한율 80.495TN
입찰공고번호 20220511013-00 투찰가 26300000.0 낙찰하한가 23161930.0 예측 가격 23306039.5 예정가격 26320375.0 낙찰하한율 88.0TP
입찰공고번호 20220505097-00 투찰가 33249930.0 낙찰하한가 33249502.0 예측 가격 33294009.4 예정가격 37783525.0 낙찰하한율 88.0TN
입찰공고번호 20220503689-00 투찰가 214327200.0 낙찰하한가 214192611.3 예측 가격 212752884.1 예정가격 243414525.0 낙찰하한율 87.995TN
입찰공고번호 20220501655-00 투찰가 37802337.0 낙찰하한가 37742939.4 예측 가격 37761779.0 예정가격 44801400.0 낙찰하한율 84.245TP
입찰공고번호 20220445738-00 투찰가 76018770.0 낙찰하한가 75961062.8 예측 가격 76660842.7 예정가격 90166850.0 낙찰하한율 84.245TN
입찰공고번호 20220510432-00 투찰가 42977200.0 낙찰하한가 42970906.0 예측 가격 43256719.0 예정가격 48830575.0 낙찰하한율 88.0TN
입찰공고번호 20220514944-00 투찰가 26670000.0 낙찰하한가 26637270.0 예측 가격 26406320.2 예정가격 30269625.0 낙찰하한율 88.0TN
입찰공고번호 20220500963-00 투찰가 568000000.0 낙찰하한가 503404722.5 예측 가격 497947797.2 예정가격 592240850.0 낙찰하한율 85.0TN
입찰공고번호 20220501656-00 투찰가 88359.0 낙찰하한가 88022.0 예측 가격 87932.8 예정가격 100025.0 낙찰하한율 88.0TN
입찰공고번호 20220448633-00 투찰가 146215146.0 낙찰하한가 124234943.1 예측 가격 123777137.2 예정가격 147468625.0 낙찰하한율 84.245TN
입찰공고번호 20211231106-00 투찰가 56985500.0 낙찰하한가 53469988.0 예측 가격 53342447.4 예정가격 60761350.0 낙찰하한율 88.0TN
입찰공고번호 20211238005-00 투찰가 5265700.0 낙찰하한가 5075545.5 예측 가격 5014369.9 예정가격 5767665.32 낙찰하한율 88.0TN
입찰공고번호 20220512812-00 투찰가 36300000.0 낙찰하한가 35286152.0 예측 가격 35173134.1 예정가격 40097900.0 낙찰하한율 88.0TN
입찰공고번호 20211231072-00 투찰가 10605.0 낙찰하한가 10593.7 예측 가격 10551.9 예정가격 12038.31 낙찰하한율 88.0TN
입찰공고번호 20220429054-00 투찰가 77644777.0 낙찰하한가 77644060.2 예측 가격 78697165.5 예정가격 88236900.0 낙찰하한율 87.995TN
입찰공고번호 20220445823-00 투찰가 250060000.0 낙찰하한가 232430519.9 예측 가격 233877959.2 예정가격 288751500.0 낙찰하한율 80.495TP
입찰공고번호 20211237047-00 투찰가 55970200.0 낙찰하한가 54350516.0 예측 가격 54532238.6 예정가격 61761950.0 낙찰하한율 88.0TP
입찰공고번호 20220514135-00 투찰가 2799128790.0 낙찰하한가 2798188687.0 예측 가격 2805272489.5 예정가격 3179940550.0 낙찰하한율 87.995TN
입찰공고번호 20220506895-00 투찰가 335.8 낙찰하한가 335.2 예측 가격 334.2 예정가격 380.87 낙찰하한율 88.0TN
입찰공고번호 20220448343-00 투찰가 21165100.0 낙찰하한가 20588964.0 예측 가격 20443065.2 예정가격 23396550.0 낙찰하한율 88.0TN
입찰공고번호 20220514992-00 투찰가 24293080.0 낙찰하한가 24271280.0 예측 가격 24239565.4 예정가격 27581000.0 낙찰하한율 88.0TN
입찰공고번호 20220508590-00 투찰가 81328000.0 낙찰하한가 79095053.7 예측 가격 80165241.5 예정가격 89885850.0 낙찰하한율 87.995TP
입찰공고번호 20220502829-00 투찰가 432.2 낙찰하한가 432.0 예측 가격 431.7 예정가격 479.95 낙찰하한율 90.0TN
입찰공고번호 20220507455-00 투찰가 428.6 낙찰하한가 428.0 예측 가격 431.7 예정가격 475.55 낙찰하한율 90.0TN
입찰공고번호 20220500307-00 투찰가 211599873.0 낙찰하한가 206984822.9 예측 가격 210375726.8 예정가격 257139975.0 낙찰하한율 80.495TP
입찰공고번호 20220500183-00 투찰가 43855000.0 낙찰하한가 42613617.8 예측 가격 42596164.7 예정가격 48454850.0 낙찰하한율 87.945TN
입찰공고번호 20220501915-00 투찰가 219575370.0 낙찰하한가 218613110.5 예측 가격 218352270.7 예정가격 271585950.0 낙찰하한율 80.495TN
입찰공고번호 20220446500-00 투찰가 62614600.0 낙찰하한가 62608946.4 예측 가격 62735754.4 예정가격 74317700.0 낙찰하한율 84.245TN
입찰공고번호 20220504698-00 투찰가 27964460.0 낙찰하한가 27960052.0 예측 가격 27925143.3 예정가격 33188975.0 낙찰하한율 84.245TN
입찰공고번호 20220443858-00 투찰가 11050000.0 낙찰하한가 10975972.5 예측 가격 11015919.8 예정가격 12195525.0 낙찰하한율 90.0TP
입찰공고번호 20220439611-01 투찰가 280500000.0 낙찰하한가 294912800.0 예측 가격 294574998.3 예정가격 368641000.0 낙찰하한율 80.0TN
입찰공고번호 20220500132-00 투찰가 121550000.0 낙찰하한가 107982081.8 예측 가격 108855460.4 예정가격 128176250.0 낙찰하한율 84.245TP
입찰공고번호 20220441697-00 투찰가 40112725.0 낙찰하한가 40111948.8 예측 가격 40130265.8 예정가격 45584350.0 낙찰하한율 87.995TN
입찰공고번호 20220507488-01 투찰가 7781600.0 낙찰하한가 7758787.5 예측 가격 7804095.1 예정가격 8620875.0 낙찰하한율 90.0TN
입찰공고번호 20220502863-00 투찰가 114346370.0 낙찰하한가 114345675.3 예측 가격 113695296.9 예정가격 135729925.0 낙찰하한율 84.245TN
입찰공고번호 20220507732-00 투찰가 109505400.0 낙찰하한가 108696896.0 예측 가격 107288611.0 예정가격 123519200.0 낙찰하한율 88.0TN
입찰공고번호 20220426139-00 투찰가 280541500.0 낙찰하한가 280443131.1 예측 가격 279313592.2 예정가격 348398200.0 낙찰하한율 80.495TN
입찰공고번호 20220506889-00 투찰가 360.0 낙찰하한가 336.5 예측 가격 334.2 예정가격 382.41 낙찰하한율 88.0TN
입찰공고번호 20220500516-00 투찰가 74100000.0 낙찰하한가 74096154.0 예측 가격 73556953.4 예정가격 84200175.0 낙찰하한율 88.0TN
입찰공고번호 20220500871-00 투찰가 129259900.0 낙찰하한가 128902158.3 예측 가격 127869643.4 예정가격 153008675.0 낙찰하한율 84.245TN
입찰공고번호 20171238225-00 투찰가 29526000.0 낙찰하한가 29489592.0 예측 가격 29211287.9 예정가격 33510900.0 낙찰하한율 88.0TN
입찰공고번호 20211236418-01 투찰가 40296200.0 낙찰하한가 40251090.0 예측 가격 40559861.6 예정가격 45739875.0 낙찰하한율 88.0TN
입찰공고번호 20220439273-01 투찰가 175273900.0 낙찰하한가 175132907.8 예측 가격 173580606.0 예정가격 207885225.0 낙찰하한율 84.245TN
입찰공고번호 20220514809-00 투찰가 42680000.0 낙찰하한가 38053114.0 예측 가격 38787173.7 예정가격 43242175.0 낙찰하한율 88.0TP
입찰공고번호 20220446034-00 투찰가 429.0 낙찰하한가 428.5 예측 가격 431.7 예정가격 476.06 낙찰하한율 90.0TN
입찰공고번호 20220516003-00 투찰가 29702300.0 낙찰하한가 29696920.0 예측 가격 29754438.2 예정가격 33746500.0 낙찰하한율 88.0TN
입찰공고번호 20220509352-00 투찰가 65800000.0 낙찰하한가 60596074.0 예측 가격 61611810.4 예정가격 68859175.0 낙찰하한율 88.0TP
입찰공고번호 20220505683-00 투찰가 1752.7 낙찰하한가 1752.5 예측 가격 1758.8 예정가격 1991.48 낙찰하한율 88.0TN
입찰공고번호 20211237798-01 투찰가 269297.0 낙찰하한가 269113.7 예측 가격 268756.4 예정가격 319441.73 낙찰하한율 84.245TN
입찰공고번호 20220511375-00 투찰가 6994574.0 낙찰하한가 6984967.5 예측 가격 6988382.1 예정가격 7761075.0 낙찰하한율 90.0TP
입찰공고번호 20220513989-00 투찰가 87810.0 낙찰하한가 87582.0 예측 가격 87955.2 예정가격 99525.0 낙찰하한율 88.0TN
입찰공고번호 20220447128-00 투찰가 6259767.0 낙찰하한가 6257700.0 예측 가격 6257214.6 예정가격 6953000.0 낙찰하한율 90.0TN
입찰공고번호 20220513486-00 투찰가 7088840.0 낙찰하한가 7084282.5 예측 가격 7100408.9 예정가격 7871425.0 낙찰하한율 90.0TN
입찰공고번호 20220510783-00 투찰가 36550000.0 낙찰하한가 35984938.0 예측 가격 36286363.8 예정가격 40891975.0 낙찰하한율 88.0TP
입찰공고번호 20220507600-00 투찰가 216234030.0 낙찰하한가 215940236.0 예측 가격 217855339.2 예정가격 245400575.0 낙찰하한율 87.995TN
입찰공고번호 20220510214-00 투찰가 3123.0 낙찰하한가 3122.1 예측 가격 3122.9 예정가격 3547.88 낙찰하한율 88.0TP
입찰공고번호 20220505131-00 투찰가 25672010.0 낙찰하한가 25668456.0 예측 가격 25821190.9 예정가격 29168700.0 낙찰하한율 88.0TN
입찰공고번호 20220511364-00 투찰가 32048970.0 낙찰하한가 31410126.0 예측 가격 31552177.3 예정가격 35693325.0 낙찰하한율 88.0TP
입찰공고번호 20220507220-00 투찰가 732059910.0 낙찰하한가 732049924.6 예측 가격 729829426.9 예정가격 909435275.0 낙찰하한율 80.495TN
입찰공고번호 20220441331-00 투찰가 175720291.0 낙찰하한가 175659226.8 예측 가격 174097121.5 예정가격 199624100.0 낙찰하한율 87.995TN
입찰공고번호 20220504971-00 투찰가 339358486.0 낙찰하한가 338851040.0 예측 가격 338193685.0 예정가격 385058000.0 낙찰하한율 88.0TN
입찰공고번호 20220510128-00 투찰가 421.9 낙찰하한가 421.2 예측 가격 422.3 예정가격 478.66 낙찰하한율 88.0TN
입찰공고번호 20211229491-00 투찰가 21473451.0 낙찰하한가 21466214.0 예측 가격 21502216.2 예정가격 24393425.0 낙찰하한율 88.0TN
입찰공고번호 20220440933-00 투찰가 129000000.0 낙찰하한가 116510285.7 예측 가격 115537180.6 예정가격 132405575.0 낙찰하한율 87.995TN
입찰공고번호 20211233706-00 투찰가 305144560.0 낙찰하한가 280012893.3 예측 가격 278326782.0 예정가격 318214550.0 낙찰하한율 87.995TN
입찰공고번호 20220424414-00 투찰가 80101154.0 낙찰하한가 80068674.4 예측 가격 80047399.7 예정가격 90992300.0 낙찰하한율 87.995TN
입찰공고번호 20220501699-00 투찰가 9150829.0 낙찰하한가 9144022.5 예측 가격 9220477.2 예정가격 10160025.0 낙찰하한율 90.0TN
입찰공고번호 20211233433-00 투찰가 104261700.0 낙찰하한가 103330999.6 예측 가격 105394238.0 예정가격 122655350.0 낙찰하한율 84.245TN
입찰공고번호 20220500482-00 투찰가 17108300.0 낙찰하한가 17052435.0 예측 가격 17032989.9 예정가격 18947150.0 낙찰하한율 90.0TN
입찰공고번호 20220444116-01 투찰가 56244700.0 낙찰하한가 56240316.0 예측 가격 55925283.3 예정가격 63909450.0 낙찰하한율 88.0TN
입찰공고번호 20211234682-00 투찰가 1230.0 낙찰하한가 1074.3 예측 가격 1076.3 예정가격 1334.57 낙찰하한율 80.495TP
입찰공고번호 20220513636-00 투찰가 43735560.0 낙찰하한가 43645140.0 예측 가격 43977611.8 예정가격 49596750.0 낙찰하한율 88.0TN
입찰공고번호 20220511180-00 투찰가 25983090.0 낙찰하한가 25971330.0 예측 가격 26138009.1 예정가격 29512875.0 낙찰하한율 88.0TN
입찰공고번호 20220502963-00 투찰가 390435540.0 낙찰하한가 410888873.8 예측 가격 412631536.5 예정가격 483398675.0 낙찰하한율 85.0TN
입찰공고번호 20220508925-00 투찰가 3269.0 낙찰하한가 3268.5 예측 가격 3274.5 예정가격 4060.45 낙찰하한율 80.495TN
200 39 161

# LSTM

In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [ ]:
raw_df = pd.read_csv(path+'manhattan.csv')  

raw_df.head()

In [ ]:
# 정규화 (Date 제외한 모든 수치부분 정규화)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scale_cols = ['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor',
              'building_age_yrs', 'rent'] #정규화 대상 column 정의

scaled_df = scaler.fit_transform(raw_df[scale_cols]) #정규화 수행
print(type(scaled_df), '\n') #리턴 값은 넘파이

scaled_df = pd.DataFrame(scaled_df, columns=scale_cols) #정규화된 새로운 DataFrame 생성

print(scaled_df)

In [ ]:

# feature_df, label_df 생성

feature_cols = ['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor',
              'building_age_yrs', 'rent']
label_cols = [ 'rent' ]

feature_df = pd.DataFrame(scaled_df, columns=feature_cols)
label_df = pd.DataFrame(scaled_df, columns=label_cols)
print(feature_df)
print(label_df)


# DataFrame => Numpy 변환

feature_np = feature_df.to_numpy()
label_np = label_df.to_numpy()

print(feature_np.shape, label_np.shape)

In [ ]:
# 입력 파라미터 feature, label => numpy type

def make_sequene_dataset(feature, label, window_size):

    feature_list = []      # 생성될 feature list
    label_list = []        # 생성될 label list

    for i in range(len(feature)-window_size):

        feature_list.append(feature[i:i+window_size])
        label_list.append(label[i+window_size])

    return np.array(feature_list), np.array(label_list) #3차원 텐서로 변환

In [ ]:
window_size = 100

X, Y = make_sequene_dataset(feature_np, label_np, window_size)

print(X.shape, Y.shape)

In [ ]:
# train, test 분리

#split = int(len(X)*0.95)
split = -200

x_train = X[0:split]
y_train = Y[0:split]

x_test = X[split:]
y_test = Y[split:]

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

In [ ]:
# model 생성

model = Sequential()

model.add(LSTM(200, activation='tanh', input_shape=x_train[0].shape))

model.add(Dense(1, activation='linear'))

In [ ]:
model.compile(loss='mse', optimizer='adam', metrics=['mae'])

model.summary()

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping

early_stop = EarlyStopping(monitor='val_loss', patience=15)

model.fit(x_train, y_train, 
          validation_data=(x_test, y_test),
          epochs=100, batch_size=32,
          callbacks=[early_stop])

In [ ]:
pred = model.predict(x_test)

plt.figure(figsize=(12, 6))
plt.title('bedrooms+bathrooms+size_sqft+min_to_subway+floor+building_age_yrs+rent, window_size=40')
plt.ylabel('rent')
plt.xlabel('period')
plt.plot(y_test, label='actual')
plt.plot(pred, label='prediction')
plt.grid()
plt.legend(loc='best')

plt.show()

In [ ]:
import torch
import torch.nn as nn
class RMSELoss(torch.nn.Module):
    def __init__(self):
        super(RMSELoss,self).__init__()

    def forward(self, x, y):
        criterion = nn.MSELoss()
        loss = torch.sqrt(criterion(x, y))
        return loss

In [ ]:
print( np.sum((y_test-pred)**2) / len(x_test) )

In [ ]:
print( np.sum(abs(y_test-pred)/y_test) / len(x_test) )

# Test

In [ ]:
for idx in range(len(ds_test)):

    x_test, y_test = ds_test[idx]

    pred = model(x_test.float().to(device))

    print("pred: ", pred)
    print("label: ", y_test)